/* Add this to your styles.css or movies.component.css */

.form-container {
    width: 30%;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    padding: 8px 16px;
  }

.movie-image {
    max-width: 100px; /* Adjust the maximum width as needed */
    height: auto;
  }
  